<p class="home point">
  <span class="point">
    <strong>aim of the project</strong>
    The aim of this project is to create a light-weight, AngularJS-based editor for producing structural formulas.
    The editor is from the beginning designed to be svg-based, thus enabling the drawing of good-looking, scalable structures.
  </span>
<p class="point">
  <span>
    <strong>how to use it</strong>
    You can use it by adding mmAngularDrawChem module to your project, making it available for the users of your website, so they can make their own structures.
    Also, do not hesitate to use it directly on this website: make structures that you need, grab the svg and place it within your html!
  </span>
</p>
<p class="point">
  <span>
    <strong>background</strong>
    <i>Todo</i>
  </span>
</p>
<p class="point">
  <strong>soon</strong>
  <ul>
      <li>more keyboard shortcuts</li>
      <li>improved labeling</li>
      <li>new predefined structures</li>
      <li>better reaction schemes</li>
      <li>manual</li>
      <li>download information</li>
  </ul>
<p>
