<div ng-show="showEditor">
	<div class="dc-editor-overlay" ng-click="closeEditor()"></div>
	<div class="dc-editor-dialog" ng-style="dialogStyle">
		<button type="button" class="close dc-editor-close" aria-label="Close" ng-click="closeEditor()"><span aria-hidden="true">&times;</span></button>
		<div class="dc-wrap">
			<div id="#dc-tools-h" class="dc-tools-h">
				<div class="btn-group" uib-dropdown>
					<button id="dc-structures" type="button" class="btn btn-primary" uib-dropdown-toggle>
						Structures <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
						<li class="dc-menuitem" role="menuitem" ng-repeat="custom in customButtons">
							<a class="dc-menuitem-link" ng-click="custom.choose()" id="dc-{{custom.name}}">
								<span class="dc-menuitem-link-text" ng-bind="custom.name"></span>
								<img class="dc-struct" alt="{{custom.name}}" ng-src="{{pathToSvg}}/{{custom.name}}.svg">
							</a>
						</li>				
					</ul>
				</div>
				<div class="btn-group" uib-dropdown>
					<button id="dc-structures" type="button" class="btn btn-primary" uib-dropdown-toggle>
						Actions <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
						<li class="dc-menuitem" role="menuitem" ng-repeat="custom in actions">
							<a class="dc-menuitem-link" ng-click="custom.action()" id="dc-{{custom.name}}">
								<span class="dc-menuitem-link-text" ng-bind="custom.name"></span>
							</a>
						</li>
					</ul>
				</div>
				<button class="btn btn-default" id="dc-label" class="dc-custom-button" ng-click="changeLabel()">label</button>
				<input type="text" ng-model="label" />
			</div>
			<dc-content
				class="dc-editor-dialog-content"
				ng-mousedown="doOnMouseDown($event)"
				ng-mouseup="doOnMouseUp($event)"
				ng-mousemove="doOnMouseMove($event)"
				ng-bind-html="content()"></dc-content>
		</div>
	</div>
</div>